<p>Angular でChart.js を使う</p>

<div
  style="flex-flow: column; display: flex; justify-content: center;align-items: center;"
>
  <div style="width:98%; padding-top: 36px;">
    <canvas #canvas01></canvas>
  </div>

  <div style="width:98%; display: block; padding-top: 36px;">
    <canvas #canvas02></canvas>
  </div>

  <div style="width:45%; display: block; padding-top: 36px;">
    <canvas #canvas03></canvas>
  </div>

  <div style="width:98%; display: block; padding-top: 36px;">
    <canvas #canvas04></canvas>
  </div>
</div>
